#daftar-siswa {
    background-color: gainsboro;
    color: #F3F4F6;
    text-transform: capitalize;
    font-weight: 400px;
    font-family: sans-serif;
}

#daftar-siswa > p:hover {
    background-color: #E5E7EB;
    color: #111827;
}

.siswa {
    padding: 10px 15px;
}

p {
    margin: 0px;
}